<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}StudyLog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <div class="container nav">
            <a class="logo" href="{{ url_for('index') }}">Build a Microblog with Flask</a>

            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Главная</a></li>

                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Вход</a></li>
                        <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>